<style>
	.attribute {
	  font-weight: bold;
	}
</style>
<div class="comment">
    <div class="info">
        <img src="../assets/images/food/food.jpg" class="imageicon"></dt>
            <span style="margin-left:175px;">
                <a href="/orderPost/{{Name}}" style="font-size: 30px">{{Name}}</a>
                <p><span class="attribute">Price:</span> php {{Price}}</br>
				<span class="attribute">Seller:</span> {{Seller}}</br>
				<span class="attribute">Description:</span> {{Description}}</p>
            </span>
    </div>
</div>
