<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Order</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
		<style>
			.floatright{
				float:right;
			}
			.imageicon{
				height: 150px;
				width: 150 px;
				float: left;
				padding-bottom: 20px;
			}
			.component {
				position: relative;
				font-style: italic;
				font-weight: bold;
				font-size: 18px;
				text-align: right;
				padding: 0 26px 0 0;
				width: 150px;
				float: left;
				height: 100px;
			}
			.rating {
				padding-left:20x;
			}
			.button {
				position: relative;
				padding-bottom: 10px;
				margin-top: 10px;
				clear: both;
				font-size: 0.7em;
			}
			.attribute {
			  font-weight: bold;
			}
			/* -------------------------------------
				GLOBAL
				A very basic CSS reset
			------------------------------------- */
			* {
				margin: 0;
				padding: 0;
				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
				box-sizing: border-box;
				font-size: 14px;
			}

			img {
				max-width: 100%;
			}

			body {
				-webkit-font-smoothing: antialiased;
				-webkit-text-size-adjust: none;
				width: 100% !important;
				height: 100%;
				line-height: 1.6;
			}

			/* Let's make sure all tables have defaults */
			table td {
				vertical-align: top;
			}

			/* -------------------------------------
				BODY & CONTAINER
			------------------------------------- */
			body {
				background-color: #f6f6f6;
			}

			.body-wrap {
				background-color: #f6f6f6;
				width: 100%;
			}

			.container {
				display: block !important;
				max-width: 600px !important;
				margin: 0 auto !important;
				/* makes it centered */
				clear: both !important;
			}

			.content {
				max-width: 600px;
				margin: 0 auto;
				display: block;
				padding: 20px;
			}

		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					{{> header}}
					

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/aboutUs">About Us</a></li>
							<li><a href="/myAccount/{{number}}">My Account</a></li>
							<li><a href="/logout">Sign Out</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<table class="body-wrap">
								<tbody><tr>
									<td></td>
									<td class="container" width="600">
										<div class="content">
											<table class="main" width="100%" cellpadding="0" cellspacing="0">
												<tbody><tr>
													<td class="content-wrap aligncenter">
														<table width="100%" cellpadding="0" cellspacing="0">
															<tbody><tr>
																<td class="content-block">
																	<h2>Thanks for using our app!</h2>
																</td>
															</tr>
															<tr>
																<td class="content-block">
																	<table class="invoice">
																		<tbody><tr>
																			<td>{{Buyer}}</td>
																		</tr>
																		<tr>
																			<td>
																				<table class="invoice-items" cellpadding="0" cellspacing="0">
																					<tbody><tr>
																						<td>{{Name}}</td>
																						<td class="alignright">Php {{Price}}.00</td>
																					</tr>
																				</tbody></table>
																			</td>
																		</tr>
																	</tbody></table>
																</td>
															</tr>
															<tr>
																<td class="content-block">
																	<span>Your driver is on the way! Contact 0{{ContactNo}} to track your order.</span>
																</td>
															</tr>
															<tr>
																<td class="content-block">
																	Company Inc. 123 Van Ness, San Francisco 94102
																</td>
															</tr>
														</tbody></table>
													</td>
												</tr>
											</tbody></table>
											<div class="footer">
												<table width="100%">
													<tbody><tr>
														<td class="aligncenter content-block">Questions? Email <a href="mailto:">Lapit@dlsu.edu.ph</a></td>
													</tr>
												</tbody></table>
											</div></div>
									</td>
									<td></td>
								</tr>
							</tbody></table>
						</div>
						
					
					
						<div class = "inner">
							
							
							<section id="contact">
								<p><span class="attribute">Contact seller for more information!</span></br>
								{{Seller}}: 0{{ContactNo}}</p>

							</section>

						</div>
					</div>

				<!-- Footer -->
					{{> footer}}

			</div>

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>

	</body>
</html>
